body {
    margin:0;
	font-size: 100%;
	font-family: 'Lato', sans-serif;  
    background:url('../images/bann5.jpg') top center no-repeat;   
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-size:cover;
    -moz-background-size:cover;
    -webkit-background-size:cover;
}
.modal-dialog {
    margin-top:10%;
}
input[type="button"],input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.modal-content h5 {
    color: #ffffff;
    text-align: center;
    font-size: 27px;
    margin-bottom: 1em;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
h1,h2,h3,h4,h5,h6{
	margin:0;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
/*-- login form --*/
.login-top.sign-top {
    background: #272525;
}
.agileits-login {
    padding:3em;
}
.agileits-login input[type="text"], .agileits-login input[type="password"], .agileits-login input[type="email"], .agileits-login textarea {
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 10px;
	letter-spacing: 1px;
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 2px solid transparent;
    -webkit-appearance: none;
    margin-bottom: 2em;
    background: rgba(146, 142, 142, 0.33);
}
.agileits-login textarea {
	resize:none;
	height:80px;
	margin-bottom:0!important;
}
.agileits-login input[type="text"]:focus, .agileits-login input[type="password"]:focus,.agileits-login input[type="email"]:focus,.agileits-login textarea:focus {
    border-bottom: 2px solid rgb(223, 31, 58);
}
.agileits-login ::-webkit-input-placeholder {
   color: #fff; 
} 
.agileits-login :-moz-placeholder { /* Firefox 18- */
   color: #fff;
} 
.agileits-login ::-moz-placeholder {  /* Firefox 19+ */
   color: #fff; 
} 
.agileits-login :-ms-input-placeholder {  
   color: #fff; 
}
::-moz-placeholder {
    color: #fff !important;
}

@keyframes rippling {
	50% {
		border-left-color: #fff;
	}
	100% {
		border-bottom-color: #fff;
		border-left-color: #fff;
	}
} 
.w3ls-submit {
    text-align: center;
    margin-top: 2.5em;
} 
.agileits-login input[type="submit"] {
    font-size: 1em;
    color: #fff;
    border:none;
    outline: none;
    padding: .8em 5em;
    -webkit-appearance: none;
	text-transform: uppercase;
    transition: .5s all;
    background: #dd1733;
    display: inline-block;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.agileits-login input[type="submit"]:hover {
    background:#01bcfa;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
} 
.modal-header {
    border-bottom: none;
}